<h3>Agregar Personaje - Nivel</h3>
<hr>
<form (ngSubmit)="agregar()">           <!--Submit es un evento, se le pasa el parametro $event-->
  <!--<input type="text" placeholder="Nombre" [value]="nuevo.nombre" (input)="cambiarNombre($event)">  -> ESTE ES UN METODO EN LUGAR DE ngModel-->
  <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre"/>
  <input type="text" placeholder="Nivel" name="nivel" [(ngModel)]="nuevo.nivel">
  <button>Agregar</button>    <!-- Los parentesis indican un evento dentro de html-->
</form>
